* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #0f0909;
    border-bottom: 1px solid #d0a461;
}

.header_link {
    list-style-type: none;
    margin: 20px 0px;
}

.header_link a {
    color: #d0a461;
    text-decoration: none;
}

.header_link a>.active {
    color: #ed9200;
}


/* файл магазин */

.prod_section {
    padding: 5% 5%;
    background-color: #474747;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_card {
    width: 30vh;
    padding: 1%;
    border: 1px solid #d0a461;
    display: flex;
    flex-direction: column;
}

.prod_card img {
    margin: 10px 0;
}

.prod_card p {
    color: #fff;
}

.prod_card a {
    color: #d0a461;
    text-decoration: none;
}

.prod_price {
    margin: 10px 0;
}


/* Форма логин - регистрация */

.shop_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    padding: 10%;
    color: #fff;
}

.send_butt {
    padding: 5px 15px;
    background-color: #0f0909;
    color: #fff;
    border: 1px solid #ed9200;
    border-radius: 10px;
}

.shop_form label {
    margin: 2% 0;
}


/* .hlash_message {
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* ЛК */

.profile_container {
    display: flex;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.1);
}

.profile_container>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_container>div>p {
    margin: 10px 0;
}

.profile_container>div>form>p {
    margin: 10px 0;
}

.profile_container>div>img {
    width: 50%;
    margin-bottom: 5%;
}


/* Карточка поста */

.post_contain {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.post_contain p,
.post_contain h1,
.post_contain h3 {
    margin: 30px 0;
}

.post_contain_photo>img {
    width: 50vh;
    border: 1px solid #6f6f6f;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post_contain_text {
    width: 50%;
}

.post_contain_text p {
    font-size: 20px;
}