{% extends 'base.html' %}

{% block content %}

{{ super() }}

<ul class="container header">
    <li class="header_link"><a href="/create_post">Добавить пост</a></li>
    <form action="delete_user" method="POST">
        <input type="number" placeholder="ID пользователя" name="user_id">
        <li class="header_link"><input type="submit" placeholder="Удалить пользователя"></li>
    </form>

    <li class="header_link"><a href="/admin">Панель</a></li>
</ul>

<div class="container">
    <p>Удалить пост:</p>
    {% for posts in admin_posts %}
        <p>{{ posts.name }}</p>
        <a href="{{ url_for('delete_post',post_id = posts.id) }}">Удалить пост</a>
    {% endfor %}
    {% for kat, msg in get_flashed_messages(True) %}
        <div class="flash_message {{kat}}">
            {{ msg }}
        </div>
    {% endfor %}
</div>

{% endblock %}
